@use "../variables" as *;
@use "../utils/mixins" as *;

//
// modal.scss
//

.modal-content {
    box-shadow: $box-shadow;
    background-color: $white;
    border-color: $border-color;
}

// Title text within header
.modal-title {
    color: $heading-color;
    font-size: 18px;
}

// Modal full width
.modal-full-width {
    width: 95%;
    max-width: none;
}

// Modal Positions
.modal-top {
    margin: 0 auto;
}

.modal {
    &.show {
        .modal-right,
        .modal-left {
            transform: translate(0, 0) !important;
        }
    }
}

// Bottom modal
.modal-bottom {
    display: flex;
    flex-flow: column nowrap;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
    margin: 0 auto;
    align-content: center;
}

// Full filled modals
.modal-filled {
    color: $white;
    
    .modal-header {
        background-color: rgba($white-rgb, 0.1);
    }
    
    .modal-title {
        color: $white;
    }

    .modal-header,
    .modal-footer {
        border: none;
    }
}

.modal-backdrop {
    backdrop-filter: blur(10px);
}

.modal-header {
      padding: 16px 20px;     
      border-bottom: 1px solid $border-color;

    .btn-close {
         background-color: $danger-transparent;
         font-size: 8px;
         padding: 8px;
         border-radius: $border-radius-pill;
         color: $danger;
         opacity: 1;
          position: relative;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: $danger; /* icon color */
            mask: var(--bs-btn-close-bg) center/1em auto no-repeat;
            -webkit-mask: var(--bs-btn-close-bg) center/1em auto no-repeat;
        }
        &:focus {
            box-shadow: none !important;
        }
        &.btn-close-modal {
            background: none;
            color: $body-color;
            opacity: 1;
            font-size: 24px;
            display: flex;
            align-items: center;
            &:hover{
                color: $danger;
            }
        }
    }
}
.filter-header {
    .btn-close {
         background-color: $danger-transparent;
         font-size: 8px;
         padding: 8px;
         border-radius: $border-radius-pill;
         color: $danger !important;
         opacity: 1;
          position: relative;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-color: $danger; /* icon color */
            mask: var(--bs-btn-close-bg) center/1em auto no-repeat;
            -webkit-mask: var(--bs-btn-close-bg) center/1em auto no-repeat;
        }
         &:focus {
            box-shadow: none !important;
         }
    }
}

.modal-sm {
    min-width: 400px;
}