// 
// _footer.scss
//

@use "../variables" as *;
@use "../utils/mixins" as *;

.footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 20px;
    color: $gray-500;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-top: 1px solid $border-color;
    background-color: $white;

    .footer-links {
        a {
            color: $gray-500;
            transition: all .4s;

            &:hover {
                color: $primary;
            }
        }
    }
}